.direction1 {
    float: left !important;
}

.direction2 {
    float: right !important;
}

.chartPadding {
    padding-top: 110px !important;
    padding-left: 100px !important;
}

.fontData {
    font-weight: bolder;
    font-size: larger;
}

.patient-font{
    font-weight: bold;
}

.fontColor {
    color: white;
}

.patientFont {
    font-size: x-large;
    font-weight: bolder;
}

.patientDataFont {
    font-size:x-large;
    padding-left: 15px;
}

.daysPadding {
    padding-right: 100px;
    margin-left: 20px;
}